<%- include('../includes/head.ejs')  %>

    <body>
        <%- include('../includes/navbar.ejs')%>
            <main>
                <h1>PRODUCTS WILL BE DISPLAYED HERE</h1>
            </main>
    </body>